opensearch-py==2.4.2
qdrant-client>=1.18.0

boto3==1.34.0
python-docx==1.1.2
unstructured[pdf]==0.18.32
spacy
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
langchain
langchain-core
langgraph
langchain-google-genai
langchain-groq
prometheus-fastapi-instrumentator==7.0.0
fastapi==0.110.3
uvicorn
python-dotenv
SQLAlchemy
psycopg2-binary
pydantic
pydantic-settings
alembic
python-multipart
bcrypt
passlib
python-jose
redis
celery
fastapi-mail